body {
    height: 100vh;
}

.card {
    border: none !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.z1 {
    z-index: 1;
}

.next-button {
    z-index: 1;
}

.background {
    height: 100%;
    width: 100vw;
    object-fit: cover;
    position: absolute;
}

.d-none {
    display: none !important;
}

.quiz-card {
    width: 90vw;
    background-image: url("img/brainbg.jpg");
    background-position: 50% 50%;
    background-size: 100vw;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.02);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.bg-success, .bg-danger {
    color: white;
}

.bgwhite {
    background-color: white !important;
}

.startscreen {
    display: flex;
    flex-direction: column;
}

.startscreen button {
    margin: 8px;
}

.endscreen {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0 !important;
}

.text-center {
    text-align: center;
}