body{
    background-color: darkslategray !important;
}

.quiz-card {
    width: 30rem !important;
}

.quiz-answer-card:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.05);
}

.container{
    background-color: darkslategray !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-footer{
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.bg-success , .bg-danger{
    color: white;
}

.bgwhite{
    background-color: white !important;
}

.endscreen{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0 !important;
}